.preview {
  flex-basis: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

.preview::-webkit-scrollbar {
  display: none;
}

.title {
  margin-bottom: 1em;
  width: 100%;
}