@value makerBlack, makerWhite from '../../common/colors.css';

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid makerBlack;
  border-left: 1px solid makerBlack;
  margin-bottom: 1em;
}

.input,
.textarea,
.select,
.button,
.fileInput {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  padding: 0.5em;
  border-bottom: 1px solid makerBlack;
  border-right: 1px solid makerBlack;
  background: makerWhite;
}

.input,
.select {
  flex: 1 1 30%;
}

.fileInput {
  padding: 0;
  flex: 1 1 50%;
}

.input:focus,
.textarea:focus,
.select:focus,
.button:focus {
  outline: 0;
}

.textarea {
  flex-basis: 100%;
}
/* .intro {
  display: flex;
  flex: 1;
}

.intro > input { 
  flex: 1;
  text-align: left;
  border: 1px solid black;
}

.second_intro {
  display: flex;
  flex: 1;
}

.second_intro > input {
  flex-basis: 50%;
  border: 1px solid black;
}

.text {
  width: 100%;
}

.button_box {
  display: flex;
  flex: 1;
}

.imgBtn {
  flex-basis: 50%;
}

.btn {
  flex-basis: 50%;
} */