.body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  width: 70%;
  height: 90%;
  display: flex;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}

.detail_video {
  flex: 1 1 70%;
}

.list {
  flex: 1 1 30%;
}
/* max-width 는 최대 넓이 방지 */

@media screen and (max-width : 48rem) {
  .content {
    flex-direction: column;
  }
}