@value makerLightGrey from '../../common/colors.css';

.editor {
  flex-basis: 50%;
  text-align: center;
  /* background-color: wheat; */
  border-right: 1px solid makerLightGrey;
  display: flex;
  flex-direction: column;
  padding: 0.5em 2em;
}

.title {
  margin-bottom: 1em;
  width: 100%;
}